body {
	background: white url('/Oved266Blue/pics/white-waves.png') 0 0;
 	-webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -250px 0px; }
}