body {
	/* background: #ECFFFF; */
	background: white url('/Oved266Blue/pics/white-waves.png') 0 0;
  	/*width: 50%;*/
  	margin: 0;
  	height: 300px;
  	padding-top: 20px;
  	box-sizing: border-box;
 	-webkit-animation: slide 20s linear infinite;
}
h3 {
	font-weight: 300;
	line-height: 1.2;
	padding: 40px;
	align: center;
}
h5 {
	font-weight: 50;
	line-height: 1.2;
}

un {
	color: #c98736;
}

bgLight {
	background: #ECFFFF;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -250px 0px; }
}